In [284]:
# Needed modules :
import os
import gc
import copy
import sklearn

import Drive

import numpy as np
import pandas as pd
import seaborn as sb
import matplotlib.pyplot as plt


from sys import getsizeof
from typing import List

import Preprocessing as pre
from functools import reduce

In [265]:
# Function definitions :

def time_indexed_df(df1: pd.core.frame.DataFrame) -> pd.core.frame.DataFrame:
    _tmp = copy.deepcopy(df1)
    _tmp.index = df1.dateTime
    _tmp.drop('dateTime', axis=1, inplace=True)
    _tmp = _tmp.sort_index()
    gc.collect()
    return _tmp

def fill_nas(df1: pd.core.frame.DataFrame, 
             col_names: List[str] = ['activeInsulin', 'carbs', 'insulin', 'trend']) -> pd.core.frame.DataFrame:
    _tmp = copy.deepcopy(df1)
    for name in col_names:
        _tmp[name] = df1[name].fillna(0)
    gc.collect()
    return _tmp

In [266]:
d = Drive.Drive()

In [267]:
file_name = 'journal.jl'
file_path = os.path.join('data', file_name)
d.download(file_name   = file_name, 
           target_name = file_path
          )

True

In [268]:
pre.file_filter(file_path)

In [269]:
ls data/

journal_filtered.jl  journal.jl

In [270]:
_raw = pd.read_json(file_path, lines=True)
_raw.head()

,BG,IG,LOT,REF,activeInsulin,carbs,dateTime,details,food,initSuccess,insulin,secondRound,trend,type
0,227.0,226.0,NaN,NaN,NaN,0.0,2019-02-07 00:27:00,Normal,None,NaN,1.05,NaN,0.0,data
1,NaN,190.0,NaN,NaN,NaN,NaN,2019-02-07 01:26:00,Normal,None,NaN,NaN,NaN,NaN,data
2,NaN,174.0,NaN,NaN,NaN,NaN,2019-02-07 08:49:00,Wake,None,NaN,NaN,NaN,0.0,event
3,NaN,102.0,NaN,NaN,NaN,NaN,2019-02-07 05:04:00,Suspension before hypo,None,NaN,NaN,NaN,0.0,alarm
4,NaN,98.0,NaN,NaN,NaN,NaN,2019-02-07 06:25:00,Basal resumption,None,NaN,NaN,NaN,0.0,alarm

In [271]:
#_raw[_raw.index.duplicated()]

In [304]:
undesired_columns = [ 
    'LOT',
    'REF', 
    'initSuccess', 
    'secondRound',
    'food'
]

In [305]:
_tmp = (
        _raw.drop(undesired_columns, axis=1)
       ).loc[
                (_raw['type'] == 'data') |
                (_raw['type'] == 'event')
            ]

In [306]:
_t_data = time_indexed_df(_tmp)
_tmp.head()

,BG,IG,activeInsulin,carbs,dateTime,details,insulin,trend,type
0,227.0,226.0,NaN,0.0,2019-02-07 00:27:00,Normal,1.05,0.0,data
1,NaN,190.0,NaN,NaN,2019-02-07 01:26:00,Normal,NaN,NaN,data
2,NaN,174.0,NaN,NaN,2019-02-07 08:49:00,Wake,NaN,0.0,event
5,NaN,148.0,NaN,NaN,2019-02-07 02:24:00,Normal,NaN,NaN,data
6,NaN,131.0,NaN,NaN,2019-02-07 03:14:00,Normal,NaN,NaN,data

In [307]:
_t_data.head()

,BG,IG,activeInsulin,carbs,details,insulin,trend,type
dateTime,,,,,,,,
2019-02-07 00:27:00,227.0,226.0,NaN,0.0,Normal,1.05,0.0,data
2019-02-07 01:26:00,NaN,190.0,NaN,NaN,Normal,NaN,NaN,data
2019-02-07 02:24:00,NaN,148.0,NaN,NaN,Normal,NaN,NaN,data
2019-02-07 03:14:00,NaN,131.0,NaN,NaN,Normal,NaN,NaN,data
2019-02-07 04:24:00,NaN,118.0,NaN,NaN,Normal,NaN,NaN,data

In [308]:
data = fill_nas(_t_data)
data.head()

,BG,IG,activeInsulin,carbs,details,insulin,trend,type
dateTime,,,,,,,,
2019-02-07 00:27:00,227.0,226.0,0.0,0.0,Normal,1.05,0.0,data
2019-02-07 01:26:00,NaN,190.0,0.0,0.0,Normal,0.00,0.0,data
2019-02-07 02:24:00,NaN,148.0,0.0,0.0,Normal,0.00,0.0,data
2019-02-07 03:14:00,NaN,131.0,0.0,0.0,Normal,0.00,0.0,data
2019-02-07 04:24:00,NaN,118.0,0.0,0.0,Normal,0.00,0.0,data

In [332]:
data2 = copy.deepcopy(data)

In [375]:
data2['BG'] = list( 
                    map(
                         lambda x, y: x if not np.isnan(x) else y, data['IG'], data['BG']
                       )
                  )

In [376]:
data2['IG'] = list( 
                    map(
                         lambda x, y: x if not np.isnan(x) else y, data['IG'], data['BG']
                       )
                  )

In [377]:
data2.head()

,BG,IG,activeInsulin,carbs,details,insulin,trend,type
dateTime,,,,,,,,
2019-02-07 00:27:00,226.0,226.0,0.0,0.0,Normal,1.05,0.0,data
2019-02-07 01:26:00,190.0,190.0,0.0,0.0,Normal,0.00,0.0,data
2019-02-07 02:24:00,148.0,148.0,0.0,0.0,Normal,0.00,0.0,data
2019-02-07 03:14:00,131.0,131.0,0.0,0.0,Normal,0.00,0.0,data
2019-02-07 04:24:00,118.0,118.0,0.0,0.0,Normal,0.00,0.0,data

In [383]:
data2.isna().sum()

BG               2
IG               2
activeInsulin    0
carbs            0
details          0
insulin          0
trend            0
type             0
dtype: int64

In [386]:
data3 = data2.dropna()

In [390]:
data3

,BG,IG,activeInsulin,carbs,details,insulin,trend,type
dateTime,,,,,,,,
2019-02-07 00:27:00,226.0,226.0,0.00,0.0,Normal,1.05,0.0,data
2019-02-07 01:26:00,190.0,190.0,0.00,0.0,Normal,0.00,0.0,data
2019-02-07 02:24:00,148.0,148.0,0.00,0.0,Normal,0.00,0.0,data
2019-02-07 03:14:00,131.0,131.0,0.00,0.0,Normal,0.00,0.0,data
2019-02-07 04:24:00,118.0,118.0,0.00,0.0,Normal,0.00,0.0,data
2019-02-07 08:49:00,174.0,174.0,0.00,0.0,Wake,0.00,0.0,event
2019-02-07 09:24:00,184.0,184.0,0.00,30.0,Normal,3.75,0.0,data
2019-02-07 11:24:00,195.0,195.0,0.00,0.0,Postprandial,0.00,0.0,event
2019-02-07 12:53:00,133.0,133.0,0.00,56.0,Normal,4.95,0.0,data
2019-02-07 15:32:00,169.0,169.0,0.00,0.0,Postprandial,0.00,-2.0,event
2019-02-07 16:33:00,143.0,143.0,0.00,0.0,Normal,0.00,0.0,data
2019-02-07 17:39:00,99.0,99.0,0.00,12.0,Normal,1.00,0.0,data
2019-02-07 18:13:00,101.0,101.0,0.00,10.0,Normal,0.00,0.0,data
2019-02-07 19:38:00,134.0,134.0,0.00,0.0,Postprandial,0.00,0.0,event
2019-02-07 20:41:00,140.0,140.0,0.00,75.0,Dual,4.40,0.0,data
2019-02-07 22:37:00,207.0,207.0,0.00,0.0,Normal,0.55,0.0,data
2019-02-08 10:12:00,206.0,206.0,0.00,0.0,Normal,1.30,0.0,data
2019-02-08 12:41:00,120.0,120.0,0.00,90.0,Normal,7.50,0.0,data
2019-02-08 20:00:00,100.0,100.0,0.00,70.0,Normal,4.10,0.0,data
2019-02-08 21:31:00,220.0,220.0,0.00,0.0,Normal,0.80,1.0,data
2019-02-08 23:30:00,152.0,152.0,0.00,0.0,Postcorrection,0.00,0.0,event
2019-02-09 09:27:00,90.0,90.0,0.00,0.0,Wake,0.00,0.0,event
2019-02-09 10:52:00,105.0,105.0,0.00,85.0,Normal,7.80,0.0,data
2019-02-09 12:20:00,169.0,169.0,0.00,0.0,Postprandial,0.00,0.0,event
2019-02-09 17:05:00,90.0,90.0,0.00,90.0,Normal,7.50,0.0,data
2019-02-09 20:35:00,180.0,180.0,0.00,0.0,Normal,1.00,0.0,data
2019-02-09 22:36:00,149.0,149.0,0.00,0.0,Postprandial,0.00,0.0,event
2019-02-10 00:50:00,124.0,124.0,0.00,0.0,Postprandial,0.00,0.0,event
2019-02-10 09:00:00,95.0,95.0,0.00,0.0,Wake,0.00,0.0,event
2019-02-10 09:58:00,182.0,182.0,0.00,0.0,Normal,0.85,1.0,data
...,...,...,...,...,...,...,...,...
2019-02-19 11:45:00,220.0,220.0,1.30,0.0,Normal,0.25,-1.0,data
2019-02-19 16:54:00,215.0,215.0,0.00,0.0,Normal,1.60,1.0,data
2019-02-19 19:34:00,169.0,169.0,0.15,0.0,Postcorrection,0.00,0.0,event
2019-02-19 20:39:00,115.0,115.0,0.00,75.0,Normal,4.45,0.0,data
2019-02-20 06:04:00,149.0,149.0,0.00,0.0,Normal,1.35,0.0,data
2019-02-20 09:05:00,124.0,124.0,0.00,0.0,Postcorrection,0.00,0.0,event
2019-02-20 10:05:00,121.0,121.0,0.00,44.0,Normal,4.00,0.0,data
2019-02-20 15:09:00,94.0,94.0,1.80,0.0,Postprandial,0.00,0.0,event
2019-02-20 16:49:00,157.0,157.0,0.00,0.0,Normal,0.80,1.0,data
2019-02-20 17:52:00,208.0,208.0,0.55,0.0,Normal,0.00,0.0,data
2019-02-20 20:17:00,168.0,168.0,0.45,80.0,Normal,5.25,-1.0,data
2019-02-20 22:04:00,175.0,175.0,1.05,0.0,Normal,1.00,1.0,data
2019-02-21 20:48:00,72.0,72.0,0.00,0.0,Normal,0.00,0.0,data
2019-02-22 00:57:00,209.0,209.0,0.00,0.0,Normal,1.80,0.0,data
2019-02-22 08:39:00,140.0,140.0,0.00,10.0,Normal,1.05,1.0,data
2019-02-22 10:37:00,107.0,107.0,0.30,0.0,Postprandial,0.00,0.0,event
2019-02-22 10:39:00,108.0,108.0,0.30,74.0,Normal,6.70,0.0,data
2019-02-22 12:39:00,115.0,115.0,2.23,0.0,Postprandial,0.00,0.0,event
2019-02-22 13:00:00,103.0,103.0,1.00,0.0,Normal,0.00,0.0,data
2019-02-22 13:51:00,98.0,98.0,0.00,65.0,Normal,5.40,0.0,data
2019-02-22 14:46:00,83.0,83.0,4.00,20.0,Normal,0.00,0.0,data
2019-02-22 15:51:00,81.0,81.0,1.30,0.0,Postprandial,0.00,0.0,event
2019-02-23 14:00:00,157.0,157.0,0.00,75.0,Normal,6.85,0.0,data
2019-02-23 16:02:00,162.0,162.0,1.50,0.0,Postprandial,0.00,1.0,event
2019-02-23 16:49:00,183.0,183.0,0.50,0.0,Normal,0.00,0.0,data
2019-02-23 20:37:00,153.0,153.0,0.20,15.0,Normal,0.85,1.0,data
2019-02-23 22:46:00,147.0,147.0,0.35,0.0,Postprandial,0.00,0.0,event
2019-02-24 01:33:00,199.0,199.0,0.00,0.0,Normal,0.00,0.0,data
2019-02-24 13:07:00,120.0,120.0,1.85,0.0,Postprandial,0.00,3.0,event
2019-02-24 14:18:00,167.0,167.0,0.00,0.0,Normal,1.60,0.0,data